
.campertje-logo {

    height: 6vh;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.3s ease;
    border-radius: 5px;

    padding: 10px 10px 10px 10px;
}

.campertje-logo:hover {
    cursor: pointer;
    background-color: #004e4b4d;
    
    transition: background-color 0.3s ease;
    
}

#highlight {
    color: #ff7e21;
}
.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.background-vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.navbar {
    border-bottom : 4px solid #004e4b;
    z-index: 999;
}

.navbar-nav li a{
    color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 10px;
    padding-right: 10px;
    
}

.navbar-nav li :hover {
    color: white;
}

.navbar-nav :hover {
    background-color: #004e4b;
    border-radius: 10px;
    
}

 .h100 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.5);
}

 .t-overlay-vid {
    position: absolute;
    top: 20vh;
    width: 100%;
    padding-top: 100px;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 1;

}

 .text-overlay {
    
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: bold;
}

 .text-overlay p {
    font-size: 2rem;
    font-style: italic;
}

 .text-overlay h2 {
    font-size: 7rem;
}

 .text-overlay h3 {
    font-size: 5rem;
}

 .text-overlay a {
    display: inline-block;
    font-size: 1rem;
    background: #fff;
    padding: 10px 20px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s ease;
    z-index: 1;

}

 .text-overlay a:hover {
    display: inline-block;
    font-size: 1rem;
    background: #fff;
    padding: 10px 20px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    transition: 0.3s ease;

}

.c-container {
    min-height: 10vh;
    min-width: 25vh;
    transition: 0.3s;
    text-decoration: none;
    position: relative;
}

    
.c-container h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: bold;
    font-size: 60px;
    margin-left: 20px;
    margin-top: 10px;
    color: #ffffff;
    position: absolute;
    
}

.c-container img {
    border-radius: 30px;
}

.c-container:hover {
    transform: scale(1.02);
    transition: 0.3s;

}

.c-container p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: bold;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    color: #000000;

}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    height: 8vh;
    background-color: #004e4b;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-container h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: bold;
    font-size: 20px;
    color: #ffffff;
    margin-top: 30px;
    text-align: end;
    
}
.footer-container p {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: bold;
    font-size: 15px;
    font-style: italic;
    color: #ffffff;
    text-align: end;
}

.footer-logo {
    height: 40px;
    padding-right: 10px;
    transition: 0.3s;
}

.footer-logo:hover {
    cursor: pointer;
    height: 45px;
    transition: 0.3s;
}


 @media (max-width: 1250px) {

    .text-overlay {
        padding-left: 40px;
        padding-right: 40px;
        top: 30vh;
        background-color: rgba(0, 0, 0, 0.5);;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .text-overlay h2 {
        font-size: 3rem;
    }

    .text-overlay h3 {
        font-size: 2rem;
    }

    .text-overlay p {
        font-size: 1.3rem;
    }

    .background-vid {
        height: 80vh;
    }

    .h100 {
        height: 80vh;
    }

    .campertje-logo {

        height: 5vh;
        padding-top: 0,5vh;
        padding-bottom: 0,5vh;

    }
    .c-container h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: bold;
        font-size: 40px;
        margin-left: 20px;
        margin-top: 10px;
        color: #ffffff;
        position: absolute;
        
    }

	 .card-img-top {
  margin-bottom: 10px; /* Of 24px voor iets meer ruimte */
}
}

 


