
.campertje-logo {

    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.campertje-logo:hover {
    cursor: pointer;
    background-color: #2ea3ac;
    
    transition: background-color 0.3s ease;
    
}

.container-fluid {
    background-color: #81cac4;
    height: 100px;
    padding: 0px;

}
